In [1]:
import numpy as np

In [2]:
A = np.array([[1, 2, 3, 4],
              [5, 6, 7, 8],
              [9, 0, 1, 2],
              [3, 4, 5, 6]])
B = np.array([1, 2, 3, 4])

In [7]:
np.sum(A, axis=1)

array([10, 26, 12, 18])

In [9]:
B.dot(B)

30

In [23]:
np.dot(B.reshape(-1, 1), B)

ValueError: shapes (4,1) and (4,) not aligned: 1 (dim 1) != 4 (dim 0)

In [19]:
np.dot(A, B)

array([30, 70, 20, 50])

In [21]:
A * B.reshape(-1, 1)

array([[ 1,  2,  3,  4],
       [10, 12, 14, 16],
       [27,  0,  3,  6],
       [12, 16, 20, 24]])

In [22]:
A * 2

array([[ 2,  4,  6,  8],
       [10, 12, 14, 16],
       [18,  0,  2,  4],
       [ 6,  8, 10, 12]])

In [10]:
import pandas as pd

In [11]:
data = pd.read_csv('../input/mlbplaybyplay2010s/all2018.csv', low_memory=False)

In [21]:
game_ends = data[data.GAME_END_FL == 'T']

draw_prob = sum(game_ends.AWAY_SCORE_CT == game_ends.HOME_SCORE_CT) / game_ends.shape[0]
print(f"무승부 확률: {draw_prob}")

away_win_prob = sum(game_ends.AWAY_SCORE_CT > game_ends.HOME_SCORE_CT) / game_ends.shape[0]
print(f"원정팀 승리 확률: {away_win_prob}")

home_win_prob = sum(game_ends.AWAY_SCORE_CT < game_ends.HOME_SCORE_CT) / game_ends.shape[0]
print(f"홈팀 승리 확률: {home_win_prob}")

무승부 확률: 0.07610037021801727
원정팀 승리 확률: 0.4841628959276018
홈팀 승리 확률: 0.4397367338543809

In [80]:
data['HOME_TEAM_ID'] = data.apply(lambda row: row.GAME_ID[:3], axis=1)

In [30]:
data.groupby(['AWAY_TEAM_ID', 'HOME_TEAM_ID'])['EVENT_CD'].value_counts()

AWAY_TEAM_ID  HOME_TEAM_ID  EVENT_CD
ANA           ARI           2           54
                            3           44
                            20          21
                            14          10
                            21           7
                                        ..
WAS           TOR           23           8
                            9            2
                            16           2
                            8            1
                            11           1
Name: EVENT_CD, Length: 7553, dtype: int64

In [34]:
n_games = sum(data.GAME_NEW_FL == 'T')  # 게임 수
n_games // 2

1215

In [39]:
data

,GAME_ID,AWAY_TEAM_ID,INN_CT,BAT_HOME_ID,OUTS_CT,BALLS_CT,STRIKES_CT,PITCH_SEQ_TX,AWAY_SCORE_CT,HOME_SCORE_CT,...,PO1_FLD_CD,PO2_FLD_CD,PO3_FLD_CD,ASS1_FLD_CD,ASS2_FLD_CD,ASS3_FLD_CD,ASS4_FLD_CD,ASS5_FLD_CD,EVENT_ID,HOME_TEAM_ID
0,ANA201804020,CLE,1,0,0,2,2,BCBSX,0,0,...,8,0,0,0,0,0,0,0,1,ANA
1,ANA201804020,CLE,1,0,1,1,2,CBCX,0,0,...,1,0,0,3,0,0,0,0,2,ANA
2,ANA201804020,CLE,1,0,2,1,2,CBSFFX,0,0,...,1,0,0,3,0,0,0,0,3,ANA
3,ANA201804020,CLE,1,1,0,0,0,X,0,0,...,8,0,0,0,0,0,0,0,4,ANA
4,ANA201804020,CLE,1,1,1,0,2,CCT,0,0,...,2,0,0,0,0,0,0,0,5,ANA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
191046,WAS201809260,MIA,7,0,2,1,2,FFBX,3,9,...,3,0,0,5,0,0,0,0,66,WAS
191047,WAS201809260,MIA,7,1,0,3,1,.BBFBB,3,9,...,0,0,0,0,0,0,0,0,67,WAS
191048,WAS201809260,MIA,7,1,0,0,2,.SFS,3,9,...,2,0,0,0,0,0,0,0,68,WAS
191049,WAS201809260,MIA,7,1,1,0,2,CSFX,3,9,...,6,0,0,0,0,0,0,0,69,WAS
191050,WAS201809260,MIA,7,1,2,2,0,BBX,3,9,...,4,0,0,6,0,0,0,0,70,WAS

In [38]:
data[data.GAME_ID.isin(data.GAME_ID.unique()[:n_games//2])]

,GAME_ID,AWAY_TEAM_ID,INN_CT,BAT_HOME_ID,OUTS_CT,BALLS_CT,STRIKES_CT,PITCH_SEQ_TX,AWAY_SCORE_CT,HOME_SCORE_CT,...,PO1_FLD_CD,PO2_FLD_CD,PO3_FLD_CD,ASS1_FLD_CD,ASS2_FLD_CD,ASS3_FLD_CD,ASS4_FLD_CD,ASS5_FLD_CD,EVENT_ID,HOME_TEAM_ID
0,ANA201804020,CLE,1,0,0,2,2,BCBSX,0,0,...,8,0,0,0,0,0,0,0,1,ANA
1,ANA201804020,CLE,1,0,1,1,2,CBCX,0,0,...,1,0,0,3,0,0,0,0,2,ANA
2,ANA201804020,CLE,1,0,2,1,2,CBSFFX,0,0,...,1,0,0,3,0,0,0,0,3,ANA
3,ANA201804020,CLE,1,1,0,0,0,X,0,0,...,8,0,0,0,0,0,0,0,4,ANA
4,ANA201804020,CLE,1,1,1,0,2,CCT,0,0,...,2,0,0,0,0,0,0,0,5,ANA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95698,MIA201809210,CIN,10,0,1,2,1,.BCBX,0,0,...,7,0,0,0,0,0,0,0,64,MIA
95699,MIA201809210,CIN,10,0,2,2,0,BBX,0,0,...,9,0,0,0,0,0,0,0,65,MIA
95700,MIA201809210,CIN,10,1,0,3,2,FSBBBFS,0,0,...,2,0,0,0,0,0,0,0,66,MIA
95701,MIA201809210,CIN,10,1,1,0,0,X,0,0,...,0,0,0,0,0,0,0,0,67,MIA
95702,MIA201809210,CIN,10,1,1,3,2,FFB*BBFX,0,0,...,0,0,0,0,0,0,0,0,68,MIA

In [32]:
data[data.GAME_NEW_FL == 'T']

,GAME_ID,AWAY_TEAM_ID,INN_CT,BAT_HOME_ID,OUTS_CT,BALLS_CT,STRIKES_CT,PITCH_SEQ_TX,AWAY_SCORE_CT,HOME_SCORE_CT,...,PO1_FLD_CD,PO2_FLD_CD,PO3_FLD_CD,ASS1_FLD_CD,ASS2_FLD_CD,ASS3_FLD_CD,ASS4_FLD_CD,ASS5_FLD_CD,EVENT_ID,HOME_TEAM_ID
0,ANA201804020,CLE,1,0,0,2,2,BCBSX,0,0,...,8,0,0,0,0,0,0,0,1,ANA
79,ANA201804030,CLE,1,0,0,3,1,BBSBB,0,0,...,0,0,0,0,0,0,0,0,1,ANA
154,ANA201804040,CLE,1,0,0,2,2,BBCFX,0,0,...,0,0,0,0,0,0,0,0,1,ANA
255,ANA201804060,OAK,1,0,0,2,0,BBX,0,0,...,3,0,0,6,0,0,0,0,1,ANA
343,ANA201804070,OAK,1,0,0,3,2,CBBFBFB,0,0,...,0,0,0,0,0,0,0,0,1,ANA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190650,WAS201809220,NYN,1,0,0,0,1,CX,0,0,...,3,0,0,6,0,0,0,0,1,WAS
190719,WAS201809230,NYN,1,0,0,1,1,BCX,0,0,...,0,0,0,0,0,0,0,0,1,WAS
190817,WAS201809240,MIA,1,0,0,3,2,BBSBFX,0,0,...,0,0,0,0,0,0,0,0,1,WAS
190899,WAS201809250,MIA,1,0,0,0,2,CSS,0,0,...,2,0,0,0,0,0,0,0,1,WAS
190981,WAS201809260,MIA,1,0,0,1,2,CBSC,0,0,...,2,0,0,0,0,0,0,0,1,WAS

In [42]:
bat = {}
pa_events = [2, 3, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
for event in pa_events:
    bat[event] = 0
bat

SyntaxError: invalid syntax (<ipython-input-42-86418d4ef950>, line 4)

In [47]:
bat = {'pa': 0}.append({event: 0 for event in pa_events})
bat

AttributeError: 'dict' object has no attribute 'append'

In [49]:
bat = dict.fromkeys(pa_events + ['pa'])
bat[2] += 1
bat

TypeError: unsupported operand type(s) for +=: 'NoneType' and 'int'

In [52]:
# 타석 데이터만 남기기
pa_events = [2, 3, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
is_pa = data['EVENT_CD'].isin(pa_events)
print('타석 데이터의 비율: %.3f' % (sum(is_pa) / data.shape[0]))
data = data[is_pa].reset_index(drop=True)

타석 데이터의 비율: 0.969

In [53]:
# 초기화
bat = {}
for bat_id in data.BAT_ID.unique():
    bat[bat_id] = {key: 0 for key in pa_events + ['pa']}
    
# 각 타자의 event 개수 세기.
for index, row in data.iterrows():
    bat_id = row['BAT_ID']
    event = row['EVENT_CD']
    bat[bat_id]['pa'] += 1
    bat[bat_id][event] += 1

In [54]:
data

,GAME_ID,AWAY_TEAM_ID,INN_CT,BAT_HOME_ID,OUTS_CT,BALLS_CT,STRIKES_CT,PITCH_SEQ_TX,AWAY_SCORE_CT,HOME_SCORE_CT,...,PO1_FLD_CD,PO2_FLD_CD,PO3_FLD_CD,ASS1_FLD_CD,ASS2_FLD_CD,ASS3_FLD_CD,ASS4_FLD_CD,ASS5_FLD_CD,EVENT_ID,HOME_TEAM_ID
0,ANA201804020,CLE,1,0,0,2,2,BCBSX,0,0,...,8,0,0,0,0,0,0,0,1,ANA
1,ANA201804020,CLE,1,0,1,1,2,CBCX,0,0,...,1,0,0,3,0,0,0,0,2,ANA
2,ANA201804020,CLE,1,0,2,1,2,CBSFFX,0,0,...,1,0,0,3,0,0,0,0,3,ANA
3,ANA201804020,CLE,1,1,0,0,0,X,0,0,...,8,0,0,0,0,0,0,0,4,ANA
4,ANA201804020,CLE,1,1,1,0,2,CCT,0,0,...,2,0,0,0,0,0,0,0,5,ANA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185134,WAS201809260,MIA,7,0,2,1,2,FFBX,3,9,...,3,0,0,5,0,0,0,0,66,WAS
185135,WAS201809260,MIA,7,1,0,3,1,.BBFBB,3,9,...,0,0,0,0,0,0,0,0,67,WAS
185136,WAS201809260,MIA,7,1,0,0,2,.SFS,3,9,...,2,0,0,0,0,0,0,0,68,WAS
185137,WAS201809260,MIA,7,1,1,0,2,CSFX,3,9,...,6,0,0,0,0,0,0,0,69,WAS
185138,WAS201809260,MIA,7,1,2,2,0,BBX,3,9,...,4,0,0,6,0,0,0,0,70,WAS

In [70]:
data['EVENT_CD'].value_counts() / data['EVENT_CD'].count()

2     0.449646
3     0.222573
20    0.142174
14    0.079708
21    0.044642
23    0.030167
16    0.010381
18    0.008129
15    0.005018
22    0.004575
19    0.002765
17    0.000221
Name: EVENT_CD, dtype: float64

# 각 팀별 평균 수비력

In [86]:
away_event_cnt = data.groupby('AWAY_TEAM_ID')['EVENT_CD'].value_counts()
home_event_cnt = data.groupby('HOME_TEAM_ID')['EVENT_CD'].value_counts()

team_info = {}
for team, event in away_event_cnt.index:
    if team not in team_info:
        team_info[team] = {event: 0 for event in pa_events + ['pa']}
    team_info[team][event] += away_event_cnt[(team, event)]
    team_info[team]['pa'] += away_event_cnt[(team, event)]
for team, event in home_event_cnt.index:
    if team not in team_info:
        team_info[team] = {event: 0 for event in pa_events + ['pa']}
    team_info[team][event] += home_event_cnt[(team, event)]
    team_info[team]['pa'] += home_event_cnt[(team, event)]

In [87]:
team_info

{'ANA': {2: 5525,
  3: 2686,
  14: 1005,
  15: 55,
  16: 138,
  17: 6,
  18: 90,
  19: 35,
  20: 1710,
  21: 505,
  22: 42,
  23: 419,
  'pa': 12216},
 'ARI': {2: 5464,
  3: 2908,
  14: 1003,
  15: 79,
  16: 109,
  17: 4,
  18: 97,
  19: 36,
  20: 1659,
  21: 518,
  22: 69,
  23: 350,
  'pa': 12296},
 'ATL': {2: 5628,
  3: 2713,
  14: 1050,
  15: 96,
  16: 118,
  17: 1,
  18: 97,
  19: 34,
  20: 1724,
  21: 562,
  22: 55,
  23: 328,
  'pa': 12406},
 'BAL': {2: 5627,
  3: 2615,
  14: 963,
  15: 48,
  16: 124,
  17: 0,
  18: 93,
  19: 35,
  20: 1831,
  21: 567,
  22: 49,
  23: 422,
  'pa': 12374},
 'BOS': {2: 5483,
  3: 2811,
  14: 1035,
  15: 46,
  16: 139,
  17: 0,
  18: 109,
  19: 31,
  20: 1763,
  21: 601,
  22: 66,
  23: 384,
  'pa': 12468},
 'CHA': {2: 5422,
  3: 2853,
  14: 1035,
  15: 43,
  16: 155,
  17: 2,
  18: 112,
  19: 51,
  20: 1743,
  21: 552,
  22: 64,
  23: 378,
  'pa': 12410},
 'CHN': {2: 5635,
  3: 2721,
  14: 1098,
  15: 100,
  16: 144,
  17: 7,
  18: 104,
  19: 52,
  20: 1879,
  21: 507,
  22: 62,
  23: 324,
  'pa': 12633},
 'CIN': {2: 5647,
  3: 2634,
  14: 996,
  15: 95,
  16: 115,
  17: 1,
  18: 96,
  19: 40,
  20: 1901,
  21: 542,
  22: 52,
  23: 400,
  'pa': 12519},
 'CLE': {2: 5606,
  3: 2733,
  14: 900,
  15: 61,
  16: 139,
  17: 4,
  18: 98,
  19: 34,
  20: 1730,
  21: 608,
  22: 42,
  23: 416,
  'pa': 12371},
 'COL': {2: 5462,
  3: 2806,
  14: 970,
  15: 62,
  16: 103,
  17: 4,
  18: 90,
  19: 40,
  20: 1763,
  21: 548,
  22: 90,
  23: 394,
  'pa': 12332},
 'DET': {2: 5675,
  3: 2556,
  14: 881,
  15: 38,
  16: 112,
  17: 1,
  18: 117,
  19: 30,
  20: 1767,
  21: 562,
  22: 69,
  23: 351,
  'pa': 12159},
 'HOU': {2: 5366,
  3: 2884,
  14: 977,
  15: 23,
  16: 127,
  17: 9,
  18: 84,
  19: 35,
  20: 1623,
  21: 535,
  22: 39,
  23: 357,
  'pa': 12059},
 'KCA': {2: 5770,
  3: 2467,
  14: 935,
  15: 41,
  16: 118,
  17: 1,
  18: 91,
  19: 32,
  20: 1913,
  21: 554,
  22: 65,
  23: 360,
  'pa': 12347},
 'LAN': {2: 5442,
  3: 3001,
  14: 983,
  15: 86,
  16: 122,
  17: 3,
  18: 113,
  19: 31,
  20: 1663,
  21: 538,
  22: 58,
  23: 414,
  'pa': 12454},
 'MIA': {2: 5647,
  3: 2633,
  14: 961,
  15: 99,
  16: 144,
  17: 6,
  18: 109,
  19: 29,
  20: 1793,
  21: 531,
  22: 47,
  23: 320,
  'pa': 12319},
 'MIL': {2: 5418,
  3: 2886,
  14: 1024,
  15: 66,
  16: 119,
  17: 5,
  18: 114,
  19: 35,
  20: 1711,
  21: 491,
  22: 64,
  23: 391,
  'pa': 12324},
 'MIN': {2: 5593,
  3: 2705,
  14: 1048,
  15: 59,
  16: 117,
  17: 0,
  18: 84,
  19: 30,
  20: 1795,
  21: 598,
  22: 48,
  23: 364,
  'pa': 12441},
 'NYA': {2: 5295,
  3: 3055,
  14: 1089,
  15: 30,
  16: 120,
  17: 0,
  18: 97,
  19: 41,
  20: 1643,
  21: 562,
  22: 36,
  23: 444,
  'pa': 12412},
 'NYN': {2: 5537,
  3: 2850,
  14: 982,
  15: 68,
  16: 144,
  17: 0,
  18: 109,
  19: 19,
  20: 1727,
  21: 506,
  22: 58,
  23: 355,
  'pa': 12355},
 'OAK': {2: 5743,
  3: 2618,
  14: 987,
  15: 37,
  16: 129,
  17: 2,
  18: 99,
  19: 29,
  20: 1670,
  21: 590,
  22: 39,
  23: 411,
  'pa': 12354},
 'PHI': {2: 5313,
  3: 2985,
  14: 1014,
  15: 68,
  16: 124,
  17: 6,
  18: 105,
  19: 23,
  20: 1684,
  21: 533,
  22: 62,
  23: 357,
  'pa': 12274},
 'PIT': {2: 5641,
  3: 2565,
  14: 890,
  15: 81,
  16: 128,
  17: 3,
  18: 108,
  19: 33,
  20: 1789,
  21: 577,
  22: 64,
  23: 331,
  'pa': 12210},
 'SDN': {2: 5446,
  3: 2922,
  14: 934,
  15: 56,
  16: 99,
  17: 1,
  18: 88,
  19: 48,
  20: 1777,
  21: 533,
  22: 62,
  23: 347,
  'pa': 12313},
 'SEA': {2: 5710,
  3: 2549,
  14: 792,
  15: 38,
  16: 142,
  17: 6,
  18: 96,
  19: 29,
  20: 1827,
  21: 545,
  22: 55,
  23: 371,
  'pa': 12160},
 'SFN': {2: 5661,
  3: 2736,
  14: 895,
  15: 77,
  16: 94,
  17: 0,
  18: 102,
  19: 28,
  20: 1804,
  21: 546,
  22: 72,
  23: 289,
  'pa': 12304},
 'SLN': {2: 5611,
  3: 2717,
  14: 1029,
  15: 89,
  16: 147,
  17: 3,
  18: 117,
  19: 35,
  20: 1849,
  21: 490,
  22: 35,
  23: 349,
  'pa': 12471},
 'TBA': {2: 5412,
  3: 2809,
  14: 990,
  15: 51,
  16: 154,
  17: 2,
  18: 88,
  19: 30,
  20: 1738,
  21: 536,
  22: 63,
  23: 314,
  'pa': 12187},
 'TEX': {2: 5600,
  3: 2605,
  14: 1007,
  15: 39,
  16: 160,
  17: 1,
  18: 122,
  19: 36,
  20: 1749,
  21: 591,
  22: 68,
  23: 416,
  'pa': 12394},
 'TOR': {2: 5526,
  3: 2685,
  14: 1016,
  15: 34,
  16: 125,
  17: 3,
  18: 106,
  19: 34,
  20: 1694,
  21: 645,
  22: 48,
  23: 425,
  'pa': 12341},
 'WAS': {2: 5589,
  3: 2706,
  14: 1025,
  15: 93,
  16: 135,
  17: 1,
  18: 75,
  19: 29,
  20: 1725,
  21: 557,
  22: 51,
  23: 389,
  'pa': 12375}}

In [83]:
away_event_cnt

AWAY_TEAM_ID  EVENT_CD
ANA           2           2748
              3           1335
              20           907
              14           499
              21           266
                          ...
WAS           15            33
              18            29
              22            28
              19            12
              17             1
Name: EVENT_CD, Length: 351, dtype: int64

In [72]:
probas = {1: 0.3, 2: 0.2, 3: 0.1, 4: 0.4}

for action, proba in probas.items():
    print(action, proba)

1 0.3
2 0.2
3 0.1
4 0.4

In [88]:
import pandas as pd
import numpy as np
import math
import random
import seaborn as sns
from tqdm import trange
from matplotlib import pyplot as plt
from time import sleep
pd.options.display.max_rows = 250
pd.options.display.max_columns = 105

data = pd.read_csv('../input/mlbplaybyplay2010s/all2018.csv', low_memory=False)

# 타석 데이터만 남기기
pa_events = [2, 3, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]
is_pa = data['EVENT_CD'].isin(pa_events)
print('타석 데이터의 비율: %.3f' % (sum(is_pa) / data.shape[0]))
data = data[is_pa].reset_index(drop=True)

# 주자 flag columns 추가
data['BASE1_RUN_FL'] = data['BASE1_RUN_ID'].notna()
data['BASE2_RUN_FL'] = data['BASE2_RUN_ID'].notna()
data['BASE3_RUN_FL'] = data['BASE3_RUN_ID'].notna()

# 초반, 후반 데이터 나누기
n_games = sum(data.GAME_NEW_FL == 'T')  # 게임 수
train = data[data.GAME_ID.isin(data.GAME_ID.unique()[:n_games//2])]  # 전반기
test = data[data.GAME_ID.isin(data.GAME_ID.unique()[n_games//2:])]  # 후반기

# state_action_cnt: 한 state에서 어떤 action을 하는 경우의 수
state_action_cnt = train.groupby(['OUTS_CT', 'BASE1_RUN_FL', 'BASE2_RUN_FL', 'BASE3_RUN_FL'])['EVENT_CD'].value_counts()

# result_cnt: 한 (state, action)에서 어떤 result로 가는 경우의 수
result_cnt = pd.pivot_table(train, values='EVENT_ID', index=['OUTS_CT', 'BASE1_RUN_FL', 'BASE2_RUN_FL', 'BASE3_RUN_FL', 'EVENT_CD'], columns=['EVENT_OUTS_CT', 'BAT_DEST_ID', 'RUN1_DEST_ID', 'RUN2_DEST_ID', 'RUN3_DEST_ID'], aggfunc='count').fillna(0.0).astype(int)

타석 데이터의 비율: 0.969

In [93]:
bats = train.BAT_ID.unique()
count, total = 0, len(train.index)
for bat in bats:
    if sum(train.BAT_ID == bat) >= 150:
        count += sum(train.BAT_ID == bat)
    
count/total

0.721241276655413

In [99]:
this_game = test[test['GAME_ID'] == 'MIA201809220']
tmp = this_game.groupby('AWAY_TEAM_ID')['EVENT_CD'].value_counts()

In [100]:
data.groupby('AWAY_TEAM_ID')['EVENT_CD'].value_counts() + tmp

AWAY_TEAM_ID  EVENT_CD
ANA           2          NaN
              3          NaN
              14         NaN
              15         NaN
              16         NaN
                          ..
WAS           19         NaN
              20         NaN
              21         NaN
              22         NaN
              23         NaN
Name: EVENT_CD, Length: 351, dtype: float64

In [14]:
train = data
# 주자 flag columns 추가
train['BASE1_RUN_FL'] = train['BASE1_RUN_ID'].notna()
train['BASE2_RUN_FL'] = train['BASE2_RUN_ID'].notna()
train['BASE3_RUN_FL'] = train['BASE3_RUN_ID'].notna()

# V 구하기

In [15]:
# 이닝 바뀌는 지점 구하기
train['INN_END_FL'] = train.apply(lambda row:
                                  row['OUTS_CT'] + row['EVENT_OUTS_CT'] == 3,
                                  axis=1)

# 각 타석에서의 득점 구하기
train['INN_RUNS_CT'] = train.apply(lambda row:
                                   (row['BAT_DEST_ID'] >= 4) + (row['RUN1_DEST_ID'] >= 4) + (row['RUN2_DEST_ID'] >= 4) + (row['RUN3_DEST_ID'] >= 4),
                                   axis=1)

expected_score = {}; states = []; inn_score = 0

for idx, row in train.iterrows():
    inn_score += row['INN_RUNS_CT']
    
    # 아웃 카운트가 바뀌는 지점.
    if row['EVENT_OUTS_CT'] != 0:
        states.append((row['OUTS_CT'], row['BASE1_RUN_FL'], row['BASE2_RUN_FL'], row['BASE3_RUN_FL']))
    
    # 이닝이 바뀌는 지점.
    if row['INN_END_FL']:
        for state in states:
            if state not in expected_score:
                expected_score[state] = [0, 0]
            expected_score[state][0] += inn_score
            expected_score[state][1] += 1
        states.clear()
        inn_score = 0

for state in expected_score:
    expected_score[state] = expected_score[state][0] / expected_score[state][1]
    
V = [0.0] * 25
for state in expected_score:
    i = state[0] * 8 + state[1] * 4 + state[2] * 2 + state[3]
    V[i] = expected_score[state]

# R 구하기

In [88]:
W = np.array([8, 4, 2, 1])
R = np.zeros((24, 24))
C = np.zeros((24, 24))
states = np.dot((train[['OUTS_CT', 'BASE1_RUN_FL', 'BASE2_RUN_FL', 'BASE3_RUN_FL']] * 1), W)
event_runs = (train[['BAT_DEST_ID', 'RUN1_DEST_ID', 'RUN2_DEST_ID', 'RUN3_DEST_ID']] >= 4).apply(lambda x: sum(x), axis=1).values
for i in range(len(states)-1):
    R[states[i], states[i+1]] += event_runs[i]
    C[states[i], states[i+1]] += 1
R[states[len(states)-1], 0] += event_runs[len(states)-1]
C[states[len(states)-1], 0] += 1
R = R / (C + np.finfo(C.dtype).eps)

# T 구하기

In [90]:
trans_amt

NameError: name 'trans_amt' is not defined